<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @skill.order %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
