<div class="page-body">

  <%= render 'pages/about' %>

  <img class="me">

  <%= render 'pages/skills' %>

  <%= render 'pages/portfolio' %>

  <%= render 'pages/achievements' %>

  <%= render 'pages/latest_blog_articles' %>

  <a name="contact" id="contact"></a>

  <%= render 'pages/footer' %>

 </div>
