<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @project.image(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Order:</strong>
  <%= @project.order %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @project.visible %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
