<!DOCTYPE html>
<html>
<head>
  <title>Julio Cesar Fausto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if admin_signed_in? %>
    <%= link_to 'Logout ('+current_admin.email+')', destroy_admin_session_path, method: :delete %>
  <% end %>

  <%= render 'layouts/messages' %>

  <%= yield %>

</body>
</html>
